/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 19, 2020, 12:59:55 AM
    Author     : DuongDT
*/
body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #9f494c;
    height: 100%;
    padding-top:30px;
    padding-bottom: 60px;
}

.content {
    width: 940px;
    margin: 0 auto ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-content {
    width: 700px;
    margin-right: 20px;
}

